.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.buttonChangeColor {
  margin: 30px 0px 30px 0px;
}

.backgroundGreen {
  background-color: #008000;
}

.backgroundRed {
  background-color: #FF0000;
}

.backgroundBlue {
  background-color: #0000FF;
}

.backgroundYellow {
  background-color: #FFFF00;
}

.backgroundBlack {
  background-color: #000000;
}
